<body class="back">
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card-body p-4 p-sm-5">
                <h1 class="text-center" style="margin-top: 50%;  font-weight: bold!important;">Bem Vindo</h1>
                <h5 class="text-center mb-5 fw-light fs-5 default-title">Bem-vindo a AlbaxCON,
                    o portal para simplificar a sua vida.</h5>
                <div class="d-grid" style="margin-top: 10px">
                    <a>
                        <button type="button" class="btn btn-dark col-12" (click)="cadastro()" style="height: 61px">Sou
                            novo
                        </button>
                        <button type="button" class="btn btn-outline-dark col-12" (click)="logar()"
                                style="margin-top: 15px; height: 61px">Já tenho conta
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
