<body>
<header class="sub-header">
    <a style=" color: #333333!important; margin-top: 10px">
        <p style="font-size: 22px">Olá, Marcelo</p>
        <p style="font-size: 10px">{{now}}</p>
    </a>
</header>
<div class="container">
    <div class="row" style="margin: 20px">
        <div class="col" style="text-align: center; font-size: 14px">Hoje
            <hr style="border:2px solid #FEDB41;">
        </div>
        <div class="col" style="text-align: center; font-size: 14px; color: #cccccc">Mais Filtros</div>
        <div class="col" style="text-align: center; font-size: 14px; color: #cccccc">Ajuda</div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col" style="text-align: center; ">

            <svg height="200" width="200">

                <circle cx="100" cy="100" r="80" stroke="red" stroke-width="10" fill="none"/>
                <text y="50%" x="50%" text-anchor="middle" stroke-width="1px" dy=".3em" stroke="#CCC">Faturamento do Dia
                </text>
                <text y="60%" x="49%" text-anchor="middle" stroke-width="1px" dy=".3em">R$100,00
                </text>
            </svg>
        </div>
        <div class="col">

        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col" style="text-align: center; color: red">
            Getnet - 100%
        </div>
        <div class="col">

        </div>
    </div>
</div>
<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-danger">GETNET</button>
        </div>
    </div>
</div>
<div style="padding: 20px">
    <p>Timeline</p>
</div>
</body>
